<!DOCTYPE html>
  <html>
    <head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  </head>
  <body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '149730395363094',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <%- include ../partials/nav %>
    <nav>
  <div class="nav-wrapper blue-grey darken-2">
    <a href="#" class="brand-logo">PupBuds</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/auth/facebook">FbLogin</a></li>
        <li><a href="/auth/twitter">TwitterLogin</a></li>

      </ul>
    </div>
  </nav>

  <!-- <div class="background">
    <img src="https://reallygoodpets.com/wp-content/uploads/2015/08/DogwithFlower.jpg" style="width:100%; height:100vh; position:absolute"/>
  </div> -->
  <div class="center align">
    <h1 class="#4db6ac teal-text lighter-2 canter">Log In</h1>
    <div class="row container center-align">
      <div class="col s3"><br></br></div>
      <div class="input-field col s6 center">
        <input name="user[email]" id="name" type="text" placeholder="email">
      </div>

    </div>

    <div class="row container center-align">
      <div class="col s3"><br></br></div>
      <div class="input-field col s6 center">
        <input name="user[password]" id="password" type="text" placeholder="password">
      </div>
    </div>

    <button class="btn waves-effect waves-light btn-sent register-btn red accent-2 z-depth-2" type="submit" name="action">Submit<i class="material-icons red lighten-2"></i></button>

    <br></br>

    <div class="center align">
      <h8>Don't have an account? <a href="/register">Sign up</a></h5>
    </div>

  </div>

  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>

  <%- include ../partials/feeter %>

</body>
</html>
