<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body>
   <%- include ../partials/nav.ejs %>
  <div class="container center-align">
    <h1 class="#4db6ac teal-text lighten-2">Welcome Back</h1>
      <div class="row">
        <div class="col s12">
          <div class="card blue-grey darken z-depth-1">
            <div class="card-content white-text">
              <form action="/users/show" method="POST" enctype="multipart/form-data">
                <div class="input-field col s12">
                  <input name="user[email]" id="name" type="text" placeholder="email">
                </div>
                <div class="input-field col s12">
                  <input name="user[password]" id="password" type="text" placeholder="password">
                </div>
                <div class="form-action row"  >      
                  <button class="btn waves-effect waves-light btn-sent register-btn red accent-2 z-depth-2" type="submit" name="action">login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="signup-action center-align">
      <h5>Don't have an account?</h5>
      <a href="auth/register">Signup</a>
    </div>
  <%- include ../partials/feeter %>
  <%- include ../partials/footer_js %>

  
  </body>
</html>
