<!DOCTYPE html>
  <html>
    <head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="css/register.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper blue-grey darken-2">
    <a href="#" class="brand-logo">PupBuds</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Contact</a></li>
        <li><a href="collapsible.html">PuppyTime</a></li>
      </ul>
    </div>
  </nav>
 
  <div class="container center-align">
    <h1 class="teal lighten-1 white-text z-depth-3">User Profile</h1>
  
    <form action="/register" method="POST" enctype="multipart/form-data">
      <%- include partials/form.ejs %>
    </form>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../dist/js/materialize.js"></script>
    <script src="js/pickdate.js"></script>    
    <script type="text/javascript" src="jQuery-1.4.1-min.js"></script>     
  </body>
</html>