<div class="row">
  <div class="input-field col s12">
    <input placeholder="name" name="user[name]"id="name" type="text" class="validate
  </div>
  <div class="input-field col s12">
    <input name="user[email]" id="email" type="text" class="validate" placeholder="email">
  </div>
  <div class="input-field col s12">
    <input name="user[city]" id="city" type="text" class="validate" placeholder="city">
  </div>
  <div class="input-field col s6">
    <input name="user[zipCode]" id="zipCode" type="text" class="validate" placeholder="zipcode">
  </div>
  <div class="input-field col s6">
    <input name="user[age]" id="age" type="text" class="validate" placeholder="age">
  </div>
  <div class="input-field col s12">
    <input name="user[password]" id="password" type="text" class="validate" placeholder="password">
  </div>
  <br>
  <h5>Describe yourself</h5>
  <i class="material-icons prefix left">mode_edit</i>
  <div class="input-field col s12 left">
    <textarea name="user[bio]" id="textarea1" class="materialize-textarea" placeholder="description"></textarea>
  </div>
  <div class="file-field input-field col s12">
    <h5>Profile Photo</h5>
    <input class="file-path validate" type="text"/>
      <div class="btn center-align red accent-2">
        <span>File</span>
        <input type="file" />
      </div>
    </div>
  </div>
<h1 class="#4db6ac teal-text lighten-2">Puppy Profile</h1>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input name="puppy[name]" id="puppy_name" type="text" class="validate" placeholder="puppy name">
      </div>
      <div class="input-field col s6">
        <input name="puppy[age]" id="age" type="date" class="datepicker validate" placeholder="puppy age">
      </div>
      <br>
      <br>
      <div class="file-field input-field col s12">
        <h5 class="pup-photo">Puppy profile photo</h5>
        <input name="puppy[photo]" class="file-path validate" type="text"/>
        <div class="btn center-align red accent-2 z-depth-2">
          <span>File</span>
          <input type="file" />
        </div>
      </div>
      <div class="input-field col s6">
        <select name="puppy[friendliness]"class="browser-default">
          <option value="" disabled selected>Friendliness Level</option>
          <option value="1">Super Friendly</option>
          <option value="2">Friendly</option>
          <option value="3">Not so Friendly</option>
        </select>
      </div>
      <div class="input-field col s6">
        <select name="puppy[size]" class="browser-default">
          <option value="" disabled selected>Size</option>
          <option value="1">Huge puppy</option>
          <option value="2">Medium puppy</option>
          <option value="3">Small puppy</option>
        </select>
        <br>
        <br>
      </div>


      <button class="btn waves-effect waves-light red accent-2 z-depth-2" type="submit" name="action">Submit
      </button>

    </div>
  </div>
</div>
