<nav class="#4db6ac teal lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a href="/puppies" class="brand-logo">PupBuds</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/puppies" class="search-puppy">Search</a></li> 
      <li><a href="#">Messages</a></li>
      <li><a href="/users/<%= user.id %>">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Messages</a></li>
      <li><a href="/users/<%= user.id %>">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
