<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="container">
        <div class="input-field col s12">
          <form action="/puppies/:id" method="PUT" enctype="multipart/form-data">


          <input name="name" id="name" type="text" class="validate" placeholder="puppy name">

          <div class="input-field col s12">
            <input name="therapy" id="therapy" type="text" class="validate" placeholder="puppy therapy">
          </div>

          <div class="input-field col s12">
            <input name="hypoallergenic" id="hypoallergenic"  type="text" class="validate" placeholder="hypoallergenic">
          </div>

          <div class="input-field col s12">
            <input name="age" id="age" type="date" class="datepicker" placeholder="puppy age">
          </div>

          <br>
          <br>

          <div class="row">
            <h5 class="pup-photo">Puppy photo url</h5>
            <input name="url" id="url" type="string" class="photo" style="width: 270px; height: 50px">
          </div>

          <div class="row">
            <div class="input-field col s12">
              <select name="friendliness" id="friendliness" class="browser-default" type="string">
                <option value="" disabled selected>Friendliness Level</option>
                <option value="super friendly">Super Friendly</option>
                <option value="friendly">Friendly</option>
                <option value="not so friendly">Not so Friendly</option>
              </select>
            </div>
          </div>

          <div class="input-field col s12">
            <select name="size" id="size" class="browser-default">
              <option value="" disabled selected>Puppy Size</option>
              <option type="string" value="Huge Puppy">Huge puppy</option>
              <option type="string" value="Medium Puppy">Medium puppy</option>
              <option type="string" value="Small Puppy">Small puppy</option>
            </select>
          </div>

          <br>
          <br>

          <div class="action row">
            <button class="btn waves-effect waves-light btn-sent red accent-2 z-depth-2 puppy-btn" type="submit" name="action">Add Puppy</button>
          </div>

        </form>
      </div>
    </div>
  </div>
