<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Pupbuds</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <nav class="#4db6ac teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">PupBuds</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Messages</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Profile</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
       <li><a href="#">Navbar Link</a></li>
       <li><a href="#">Navbar Link</a></li>
       <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Find your best friends best friend!</h1>
        <div class="row center">
          <h5 class="header white-text col s12 light">Pupbuds is the best place for dog owners to connect </h5>
        </div>

        <!-- Modal Trigger -->
        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <div class="row center">
          <a href="/register" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Login</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <img src="/images/tree_sniff.gif" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 189px, 0px);">
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">perm_identity</i></h2>
            <h5 class="center">Sign up in seconds</h5>

            <p class="light">Sign up and add your sogs to your profile. When someone see's your sog and wants to set up a playdate, they can simply message you by hitting the request button below your suppy's post.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">search</i></h2>
            <h5 class="center">Search for other dogs</h5>

            <p class="light">Once you're signed up, you can use our suppy prowl search to find other sogs to play with. You can search by size, friendlisness, and proximity to your location. Once your search is in, we'll give you a list of dogs that match your requirements, any of which you can requst a playdate with.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">message</i></h2>
            <h5 class="center">Connect with other owners</h5>

            <p class="light">Once you receieve a request from a user to set up a playdate, enter into a secure chat between the two of you to coordinate the times and location of your sogs playdate. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header teal-text col s12 light">A run through the park. A splash at the beach. A romp in the snow.</h2>
        </div>
        <div class="row center">
          <h5 class="header white-text col s12 light center-align">Set up playdates and let your dog socialize and get some exercise. You can meet anywhere you want. Just preferably somewhere the dogs will like.</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/images/treadmill.gif" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 199px, 0px);">
    </div>
  </div>

  <div class="row">
    <div class="col s12 row center">
      <h2>Plan Your Playdates</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s3"><br></br></div>
    <div class="col s6 center">
      <p>Here at PupBuds, we want you to get creative with your meetups! Go to the beach, head to the dog park, walk around the city with your pups in strollers. We don't care! Puppies are meant to play with other puppies though, so get out there and get your puppies together. But be careful! If too many puppies are in one place, it might cause a cuteness overload.</p>
    </div>
    <div class="col s3"><br></br></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We're a team of dog lovers dedicated to the ideal that puppies deserve to have friends!'</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by PupBuds
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../dist/js/materialize.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
