<!DOCTYPE html>
<html>
  <%- include ../partials/head.ejs %>
  <body>
  <%- include ../partials/nav.ejs %>
    <div class="container center-align">
      <h1 class="teal lighten-1 white-text z-depth-3">
        User Profile
      </h1>
      <div class="row">
        <form action="/puppies/:id" enctype="multipart/form-data"
        method="PUT">
          <!-- <//%= include partials/pup_edit.ejs %> -->
        </form>
      </div>
    </div>
  <%- include ../partials/footer_js.ejs %>
</body>
</html>
