<%- include ../partials/new_pup %>
<body>
  <#% include ../partials/navbar %>MUST DEFINE USERS ON PUPPIES PAGES
    <div class="container center-align row cols s12">
      <h1>Add Puppy</h1>
      <form action="/puppies" method="POST" enctype="multipart/form-data">
        <%- include ../partials/pup_form %>
       </form>
    </div>
  <%- include ../partials/feeter %>
  <%- include ../partials/new_pup_footer %>
 </body>
</html>

