<% include ../partials/new_pup %>
<body>
  <% include ../partials/navbar %>
    <div class="container center-align row cols s12">
      <h1>Create Puppy</h1>
      <% include ../partials/pup_form %>
    </div>
  <%- include ../partials/feeter %>
  <%- include ../partials/new_pup_footer %>
 </body>
</html>

