   <!DOCTYPE html>
<html lang="en">
<head>
  <title>Pupbuds</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="puppies/stylesheets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="#" class="brand-logo">PupBuds</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Contact</a></li>
        <li><a href="collapsible.html">Signout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container center-align row cols s12">
    <h1>Add Puppy</h1>
    <form action="/puppies/new" method="POST" enctype="multipart/form-data">
      <% include ../partials/pup_form %>
    </form>
  </div>
 <%- include ../partials/footer_js.ejs %>
  <%- include ../partials/feeter %>
 </body>
</html>

