<!DOCTYPE html>
<html>
  <%- include ../partials/head.ejs %>
  <body>
    <%- include ../partials/nav.ejs %>
    <div class="container center-align">
      <div class="row">
        <div class="col 6">
          <div class="card medium">
            <div class="card-image">
              <img src="http://www.studentsoftheworld.info/sites/animals/img/28051_puppy4.jpg"/>
              <span class="card-title"></span>
            </div>
            <div class="card-content">

              <!-- <//% puppy.name %> -->
              <!-- <//% puppy.age %> -->
              <!-- <//% puppy.therapy %> -->
              <!-- <//% puppy.friendliness %> -->
              <!-- <//% puppy.size %> -->
              <!-- <img src="<//%= puppy.url%>" alt=""> -->
            </div>
            <div class="contact-puppy">
           <!--    <a href="puppies/:id/edit">Edit --> your Profile</a>
            </div>
          </div>
        </div>
      </div>
    <%- include ../partials/footer_js.ejs %>
  </body>
</html>
