<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
      <link href="css/register.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
   <div class="container">
    <form action="/edit" method="POST" enctype="multipart/form-data">
    <h1>Form partials throw errors</h1>
      <%#= include ../partials/form %>
    </form>
   </div>
  </body>
</html>
