<!DOCTYPE html>
<html>
  <head>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../stylesheets/css/register.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../stylesheets/css/materialize.min.css"  media="screen,projection"/>
  </head>

  <body>
    <%- include ../partials/navbar.ejs %>

    <div class="container">
      <h1 class="#4db6ac teal-text lighter-2">Your Profile</h1>
    </div>

    <br></br>

    <div class="center align">
      <!-- <h1 class="#4db6ac teal-text lighter-2">Your Profile</h1> -->
      <div class="row container valign-align">

        <div class="col s4 center">
          <img src="/images/snow.gif" alt="" class="circle responsive-img">
        </div>

        <div class="col s1"><br></br></div>

        <div class="col s4 center teal">
          <h8 class="blue-text">Name</h8>
          <p>Sam Claney</p>
        </div>

      </div>

      <div class="row container center-align">

        <div class="col s4 center teal">
          <h8 class="blue-text">Age</h8>
          <p>22</p>
        </div>

        <div class="col s1"><br></br></div>

        <div class="col s4 center teal">
          <h8 class="blue-text">Zip</h8>
          <p>90210</p>
        </div>

      </div>

      <div class="row container center-align">

        <div class="col s12 center teal">
          <h8 class="blue-text">Bio</h8>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nulla consectetur esse earum perspiciatis, molestias qui quae. Ab earum, velit deserunt ipsa facilis, enim dolore vero nostrum amet officia excepturi.</p>
        </div>

      </div>

      <br></br>

      <a class="waves-effect waves-light red btn">Edit Profile</a>

    </div>

    <!-- page seperator -->

    <br></br>

    <div class="container">
      <hr></hr>
    </div>

    <!-- Puppy info -->

    <div class="container">
      <h1 class="#4db6ac teal-text lighter-2">Your Puppies</h1>
    </div>


     <div class="row container">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/tree_sniff.gif">
              <span class="card-title">Shadow</span>
            </div>
            <div class="card-content">
              <p>Shadow is a very good boy</p>
            </div>
            <div class="card-action">
              <a href="#">See Puppy Page</a>
            </div>
            <div class="card-action">
              <a href="#">Edit Puppy Info</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container center-align">
        <a class="waves-effect waves-light red btn">Add Puppy</a>
      </div>


    <!-- end of puppy stuff -->

    <form action="/users/show/:id" method="GET" enctype="multipart/form-data">
    </form>

    <!-- footer -->
    <%- include ../partials/feeter %>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
